
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="css/signup.css" />
  </head>
  <style>
   * {box-sizing: border-box}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}

.container {
  padding-left: 35px;
  position: "absolute";
  display: block;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for next button on extra small screens */
@media screen and (max-width: 300px) {
  .nextbtn {
    width: 100%;
  }
  .radiobutton{
margin:0px 0px 10px;
padding:1px;
  }
  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
  }
</style>
  <body>
    <form style="border:1px solid #ccc">
      <div class="container">
        <section id="content">
      <div id="panel1">
        <h1>Open An Account</h1>
        <hr>

        <h3><b>Account Type</b></h3>
        <br />
        <label ><input type="radio" style="margin-left: -1%;" class="checkmark" name="accttype" id="checking" value="checking" checked>Checking </br></br></label>
        <label ><input type="radio" style="margin-left: -3%;" class="checkmark" name="accttype" id="savings" value="savings">Savings </label>
        
        
        </br></br> 
        <h3><b>Initial Balance</b></h3>
        <lable>$<input type="number" style="height: 45px;width:75%;"placeholder= "Initial Balance" name="initbalance" required value="0.00"></lable>
      
      </div>

   
        
    
        <div class="clearfix">
          
          <button type="button" style="width:95%;"class="register2" onclick="newAccount();">Submit</button>
        </div>
      </div>
    </section>
    </div>
    </form>
  </body>
  <script>
    

    async function newAccount() {
      let data = new FormData(document.querySelector('form'))
      let obj = {}
      data.forEach((v, k) => {
        obj[k] = v
      })

      console.log(obj)

  
      const response = await fetch('/addacct', {
        method: 'POST',
        body: JSON.stringify({
         
          "acct_type": obj['accttype'],
          "init_balance": obj['initbalance']
        }), // string or object
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.status == 200) {
        alert(obj['accttype'] + " account successfully opened!\nThe account number has been sent to your email.")
      } else {
        alert("Failed")
      }
    
    }
  </script>
</html>
