<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
  <link rel="icon" type="image/png" href=" img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Admin Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href= "css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href=" demo/demo.css" rel="stylesheet" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src=" img/priyanshi.jpg">
          </div>
        </a>
        <a href="/admin" class="simple-text logo-normal">
          Admin
          <!-- <div class="logo-image-big">
            <img src=" img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/admin">
              <i class="nc-icon nc-cloud-upload-94"></i>
              <p>Edit Transaction</p>
            </a>
          </li>
          <li>
            <a href="/signup" >
              <i class="nc-icon nc-tap-01"></i>
              <p>Open An Account</p>
            </a>
          </li>
          <li  class="active">
            <a href="/del">
              <i class="nc-icon nc-single-02"></i>
              <p>Close Account</p>
            </a>
          </li>
          <li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
            <%- include nav.ejs %>
      <!-- <div class="panel-header panel-header-lg">

  <canvas id="bigDashboardChart"></canvas>


</div> -->
      <div class="content">
        <div class="row">
         
          <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-user-run text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Ongoing Projects</p>
                      <p class="card-title">
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Last day
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-support-17 text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Bugs Identified</p>
                      <p class="card-title">
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i> In the last hour
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-single-02 text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Working teams</p>
                      <p class="card-title">
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i> Update now
                </div>
              </div>
            </div> -->
          
        </div>

      
          <div class="row">
            <div class="col-md-12">
              <div class="card ">
                <div class="card-header ">
                  <h5 class="card-title">Show Accounts</h5>
                  Search by Customer ID
                  <form>
                      <div class="input-group no-border">
                        <input type="text" id="customer_id" class="form-control" placeholder="Customer ID">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <button type="button" onclick="getAccounts()">
                            <i class="nc-icon nc-zoom-split"></i>
                          </button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <script>
                      async function getAccounts() {
                        const accountid = document.getElementById("customer_id").value;
                        axios.get(`/users?id=${accountid}`).then(
                          (response) => {
                            console.log(response.data)
                            response.data.forEach((account, i) => {
                              console.log(account)
                              console.log(account.acct_num);

                              let account_number = `${account.acct_num}`
                              console.log(account_number)
                              let account_type = `${account.acct_type}` 
                              console.log(account_type);
                              let balance = `${account.currency}${account.balance_amt.toString()}`
                              console.log(balance);
                              let if_closed = account.if_closed === null ? "True" : "False"
                              console.log(if_closed);
                              let table_row = `<td>${account_number}</td>
                                               <td>${account_type}</td>
                                               <td>${balance}</td>
                                               <td>${if_closed}</td>`

                              document.getElementById(`account${i + 1}`).innerHTML = table_row;

                            });
                          }).catch(err => {
                            console.log(err);
                          })
                        }

                    </script>
                    
                  <p class="card-category"></p>
                </div>
                <div class="card-body ">
                  <table id="projects-table" class="cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Account Number</th>
         
                            <th>Account Type</th>

                            <th>Balance</th>

                            <th>Is Active</th>

                        </tr>
                        <tr id="account1"></tr>
                        <tr id="account2"></tr>
                    </thead>
                    </table>
                </div>
              </div>
            </div>
          </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Close Account</h5>
                <p class="card-category"></p>
              </div>
              <div class="card-body ">
                <input type="text" id="account_num" class="form-control" placeholder="Account Number">
                <br>
                <input type="text" id="email" class="form-control" placeholder="Email">
                <br>
                <input type="text" id="account_type" class="form-control" placeholder="Account Type">
                <br>
                <button type="button" onclick="deleteAccount()" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include footer.ejs %>
    </div>
  </div>
  <!--JS Scripts-->
  <script>


    function deleteAccount() {
      let account_num = document.getElementById("account_num").value
      let account_email = document.getElementById("email").value
      let account_type = document.getElementById("account_type").value

      data = {
        acct_num: account_num,
        acct_type: account_type,
        email: account_email
      }

      console.log(data)

      axios.post('/closeacct', data)
      .then(response => {
        alert("Account successfully deleted")
      })
      .catch(err => {
        console.log(err)
      })
    }
  </script>
  <!--   Core JS Files   -->
  <script src=" js/core/jquery.min.js"></script>
  <script src=" js/core/popper.min.js"></script>
  <script src=" js/core/bootstrap.min.js"></script>
  <script src=" js/plugins/perfect-scrollbar.jquery.min.js"></script>
   <!-- Google Maps Plugin   
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
  <!-- Chart JS -->
  <script src=" js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src=" js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src=" js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src=" demo/demo.js"></script>
  
</body>

</html>
