<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CMPE-202</h1>
    <p>customer Login</p>
  </body>
  <script>
    
    </script>
</html>
